{{#each contact}}
    <form action="/chat" method="POST">
        <div class="contactContainer" onclick='document.getElementById("{{this.id}}").click()'>
            <div class="contactImg"><img src={{this.imageurl}}></div>
            <div class="contactName">{{this.name}}<div>{{this.latestMessage}}</div></div>
            <div class="contactDate">Sept 18</div>
        </div>
        <input type="hidden" name="convId" value={{this.conversation_id}}>
        <input type="submit" class="loadConversationButton" id={{this.id}}> 
    </form>
{{/each}}