{{#each contact}}
<form action="/chat" method="POST">
    <div class="contactContainer" id="c{{this.id}}"onclick='highlightSelectedElement("{{this.id}}")'>
        <div class="contactImg"><img src={{this.imageurl}}></div>
        <div class="contactCenter">
            <div class="contactName">{{this.name}}</div>
            <div class="contactMsg">{{this.latestMessage}}</div>
        </div>
        <div class="contactDate">{{this.latestMessageDate}}</div>
    </div>
    <input type="hidden" name="convId" value={{this.conversation_id}}>
    <input type="submit" class="loadConversationButton" id={{this.id}}>
</form>
{{/each}}