{{#each profile}}
  <div class="profileSidebar">
    <img class="profilePic" src={{this.imgUrl}}>
    <p class="profileName">{{this.name}}</p>
    <p>{{this.tagline}}</p>
    <div id="stats">
      <div class="statRow">
        <p><a href="/">Posts</a></p>
        <p>{{this.numPost}}</p>
      </div>
      <div class="statRow">
        <p><a href="/chat">Messages</a></p>
        <p>{{this.numMsg}}</p>
      </div>
      <div class="statRow">
        <p><a href="/">Likes</a></p>
        <p>{{this.numLike}}</p>
      </div>
      <div class="statProfile">
        <p><a href="/">Edit Profile</a></p>
      </div>
    </div>
  </div>
{{/each}}