<div class="profileSidebar">
  <img class="profilePic" src={{imgUrl}}>
  <p class="profileName">{{name}}</p>
  <p>{{tagline}}</p>
  <div id="stats">
    <div class="statRow">
      <p><a href="/">Posts</a></p>
      <p>{{numPost}}</p>
    </div>
    <div class="statRow">
      <p><a href="/">Messages</a></p>
      <p>{{numMsg}}</p>
    </div>
    <div class="statRow">
      <p><a href="/">Likes</a></p>
      <p>{{numLike}}</p>
    </div>
    <div class="statProfile">
      <p><a href="/">Edit Profile</a></p>
    </div>
  </div>
</div>