<div class="divWrapper">
  {{>searchbar}}
  <div class="row">
    <div class="column" id="profileLeft">
      <img class="profilePic" src={{imageurl}}>
      <h3>{{name}} {{lastname}}</h3>
      {{about}}
      {{country}}
    </div>
    <div class="column" id="profileRight">
      ADD EDIT PROFILE FUNCTIONALITY
    </div>
  </div>
</div>