<div class="divWrapper">
  {{>searchbar}}
  <div class="row">
    <div class="column" id="profileLeft">
      <img class="profilePic" src={{imageurl}}>
      <h3 id="profileName">{{name}} {{lastname}}</h3>
      <p>{{about}}</p>
      <p>{{country}}</p>
    </div>
    <div class="column" id="profileRight">
      <form action="/chat/messageProfile" method="POST">
        <input type="hidden" name="profileId" value="{{id}}" />
        <input type="hidden" name="profileImgUrl" value="{{imageurl}}" />
        <input class="messageProfileButton" type="submit" value="Message">
      </form>
      <p>{{likes}} Likes </p>
        <form action="/profile/like" method="POST">
        <button class="fa fa-plus-circle fa-lg" aria-hidden="true" type="submit"></button>
        <input type="hidden" name="userId" value="{{id}}" />
        </form>
      <p>{{numPost}} Posts</p>
    </div>
  </div>
  <div>
    <h2 id="headerDiscussion">All Posts by {{name}}</h2>
    <div class="latestPosts">
      {{>cardDiscussion}}
    </div>
  </div>
</div>