<div class="divWrapper">
  {{>searchbar}}
  <div class="row">
    <div class="column" id="profileLeft">
      <img class="profilePic" src={{imageurl}}>
      <h3 id="profileName">{{name}} {{lastname}}</h3>
      <p>{{about}}</p>
      <p>{{country}}</p>
    </div>
    <div class="column" id="profileRight">
      {{#if notOwnProfile}}
      <form action="/chat/messageProfile" method="POST">
        <input type="hidden" name="profileId" value="{{id}}" />
        <input type="hidden" name="profileImgUrl" value="{{imageurl}}" />
        <input class="messageProfileButton" type="submit" value="Message">
      </form>
      {{/if}}
      <p>{{likes}} Likes </p>
      {{#if notOwnProfile}}
      {{#if alreadyLiked}} 
        {{else}}        
        <form id="formLike" action="/profile/like" method="POST">
        <i onClick="submitForm('formLike')" class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
        <input type="hidden" name="userId" value="{{id}}" />
        </form>
        {{/if}}
       {{/if}} 
      <p>{{posts}} Posts</p>
    </div>
  </div>
  <div>
    <h2 id="headerDiscussion">All Posts by {{name}}</h2>
    <div class="latestPosts">
      {{>cardDiscussion}}
    </div>
  </div>
</div>